{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-header">
                    {% trans "Sign Up" %}
                </div>
                <div class="card-body">
                    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>
                        .{% endblocktrans %}</p>

                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {% include "includes/form_col_labels.html" with input_col_size="8" label_col_size="4" %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button class="btn btn-success" type="submit">{% trans "Sign Up" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
