{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-header">
                    {% trans "Verify Your E-mail Address" %}
                </div>
                <div class="card-body">
                    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                    <div class="alert alert-info">
                        You won't be able to use your account until you verify your email address.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
