{% extends 'account/base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>Membership Details</h3>
                    <ul>
                        <li>Type: {{ membership.membership_type }}</li>
                        <li>Expiry: {{ membership.working_expiry }}</li>
                        <li>Concession: {{ membership.concession }}</li>
                        <li>Paid: {{ membership.paid }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
