{% extends 'account/base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="row">
        <div class="col-3">
            <div class="card mb-2">
                <div class="card-header">
                    My Membership
                    {% if membership.membership_active %}
                                <span class="badge badge-success">Active</span>
                            {% else %}
                                <span class="badge badge-danger">Inactive</span>
                            {% endif %}
                </div>
                <div class="card-body">
                    {% if membership.paid %}
                        <p>
                            <strong>Expiry: </strong>
                            {{ membership.membership_expiry|date:"d F Y" }}

                        </p>
                        <p>
                            <strong>Working Discount: </strong>
                            {% if membership.has_working_discount %}
                                <span class="badge badge-success">Active</span>
                                <br/>
                                <em>You will recieve 20% off supermarket items until {{ membership.working_expiry|date:"d F Y" }}</em>
                            {% else %}
                                <span class="badge badge-danger">Inactive</span>
                                <br/>
                                <em>You will receive 5% off supermarket items</em>
                            {% endif %}
                        </p>
                        {% comment %}{% if membership.concession %}
                            <p>
                                <strong>Concession: </strong>
                                <span class="badge badge-success">Yes ({{ membership.get_concession_type_display }})</span>
                            </p>
                        {% endif %}{% endcomment %}
                        {% comment %}<p><strong>Created: </strong> {{ membership.ts_entered|date:"d F Y" }}</p>{% endcomment %}
                    {% else %}
                        <strong>Your membership is not active without <a href="#">payment</a> of membership fees.</strong>
                    {% endif %}
                    <a class="btn btn-primary" href="{% url "view_membership" %}">View/Edit Membership</a>
                </div>
            </div>
            <div class="list-group">
                {% for member in members %}
                    <a href="{% url "view_member" member_id=member.pk %}" class="list-group-item list-group-item-action">
                        {{ member.first_name }} {{ member.last_name }} <br/>
                        <small>{{ member.email }}</small>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">Canberra Food Co-op Members</h3>
                    <div class="row">
                        <div class="col">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                                Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris
                                placerat eleifend leo.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="list-group">
                <a class="list-group-item list-group-item-light">Quick Actions</a>
                <a href="#" class="list-group-item list-group-item-action">Renew Membership</a>
                <a href="#" class="list-group-item list-group-item-action">View Working Hours</a>
            </div>
        </div>
    </div>
{% endblock %}
