{% extends 'includes/base.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block head_title %}{% trans "New Member" %}{% endblock %}
{% block meta %}
    <link rel="stylesheet" href="{% static "css/selectize.bootstrap4.css" %}" type="text/css"/>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h3>Application for membership - Individual</h3>
                            {% if form %}
                                {% if form.errors %}
                                   <div class="alert alert-danger">
                                        There were errors in the form:
                                        <ul class="mb-0">
                                        {% for error in form.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                        </ul>
                                   </div>
                                {% endif %}
                            {% endif %}
                            <form method="POST" action="{% url 'new_membership_details' membership_type="individual" %}">
                                {% csrf_token %}
                                    <div class="row">
                                        <div class="col">
                                            <h5>Contact details</h5>
                                            <div class="row">
                                                <div class="col-md-4 mb-3">
                                                    <label for="first_name_1">First name</label>
                                                    <input type="text" id="first_name_1"
                                                           name="member[1][first_name]"
                                                           class="form-control"
                                                           {% if form.data.first_name %}value="{{ form.data.first_name }}"{% endif %}
                                                           required
                                                    />
                                                </div>
                                                <div class="col-md-4 mb-3 pl-0">
                                                    <label for="last_name_1">Last name</label>
                                                    <input type="text" id="last_name_1" name="member[1][last_name]"
                                                           class="form-control"
                                                           {% if form.data.first_name %}value="{{ form.data.first_name }}"{% endif %}
                                                           required
                                                    />
                                                </div>
                                                <div class="col-md-4 mb-3 pl-0">
                                                    <label for="phone_number_1">Phone Number</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">+61</span>
                                                        </div>
                                                        <input type="text" id="phone_number_1"
                                                               name="member[1][phone_number]"
                                                               placeholder="444 444 444" class="form-control"
                                                               {% if form.data.phone_number %}value="{{ form.data.phone_number }}"{% endif %}
                                                               required
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 mb-3">
                                                    <label for="post_code_1">Post Code</label>
                                                    <input type="text" class="form-control post_code"
                                                           name="member[1][post_code]"
                                                           id="post_code_1"
                                                           {% if form.data.post_code %}value="{{ form.data.post_code }}"{% endif %}
                                                           required
                                                    />
                                                </div>
                                                <div class="col-md-3 mb-3 pl-0">
                                                    <label for="suburb_1">Suburb</label>
                                                    <input type="text" class="form-control suburb"
                                                           name="member[1][suburb]" required id="suburb_1"/>
                                                </div>
                                                <div class="col-md-6 mb-3 pl-0">
                                                    <label for="email_1">Email</label>
                                                    <input type="email" class="form-control" name="member[1][email]"
                                                           required id="email_1"/>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                               id="mailing_list_1" name="member[1][mailing_list]">
                                                        <label class="custom-control-label" for="mailing_list_1">
                                                            {{ new_member.mailing_list_text|safe }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col">
                                                    <h5>Volunteering information</h5>
                                                    <label for="volunteer_preferences_1">
                                                        {{ new_member.volunteer_text }}
                                                    </label>
                                                    <select name="member[1][volunteer_preferences]" multiple
                                                            id="volunteer_preferences_1" class="volunteer_input">
                                                        {% for opt in volunteer_options %}
                                                            <option>{{ opt.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <div class="row mt-3">
                                    <div class="col d-flex justify-content-center">
                                        <button class="btn btn-success" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script src="{% static "js/selectize.min.js" %}"></script>
    <script>
         var volunteer_selectize = $('.volunteer_input').selectize();
        {% for volunteer_option in form.data.volunteer_preferences %}
            volunteer_selectize[0].selectize.addItem("{{volunteer_option}}");
        {% endfor %}
        var suburb_selectize = $('.suburb').selectize({
            maxItems: 1,
            closeAfterSelect: true,
            valueField: 'name',
            render: {
                item: function (sub, escape) {
                    return "<div>" + escape(sub.name) + " " + escape(sub.state.abbreviation) + "</div>";
                },
                option: function (sub, escape) {
                    return "<div class='ml-2 my-1'>" + escape(sub.name) + " " + escape(sub.state.abbreviation) + "</div>";
                }
            }
        });
        $('.post_code').on('input', (e) => {
            let id = e.target.id
            let index = id.substr(id.length - 1) - 1;
            let s = suburb_selectize[index].selectize;
            s.clearOptions();
            s.clear(true);
            let post_code = $(e.target).val();
            if (post_code.length === 4 && post_code?.match(/[0-9]{4}/g)) {
                console.log(post_code)
                $.ajax({
                    url: "/api/postcode/" + post_code,
                    type: "GET",
                    success: function (res) {
                        s.addOption(res);
                    },
                    error: function (err) {
                        console.log("error");
                        console.log(err);
                    }
                });
            }
        });
    </script>
{% endblock %}


