body {
    background-color: #fcfcfc;
    padding-top: 65px;
}

.navbar {
    background-color: #8bb778;
}

legend {
    font-size: 1.25em;
}

label.is-invalid {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.quick-action-card:hover {
    border-color: #007bff!important;
}