{% load widget_tweaks %}

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
    <div class="form-group row">
        <label class="col-form-label col-sm-{{ label_col_size }}" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="col-sm-{{ input_col_size }}">
            {% render_field field class="form-control" %}
            {{ field.errors }}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
    </div>
{% endfor %}